body {
    margin: 64px 0 15px 52px;
    text-align: start;
    color:rgb(0, 204, 0);
    background-color: rgb(13, 51, 89)
;
}
.main{
    width:550px;
    height: 550px;
}
#ft-line{
    color: white;
}
#text-el{
    color: rgb(230, 230, 230);
}
#btn{
    margin: 60px 0 20px 0;
    width: 191px;
    height: 42px;
    background: rgb(0, 204, 100);
    color: #ffff; 
    border-radius: 5px;   
}
.block-genpass{
    display: flex;
}
#pass01,#pass02 {
    margin: 10px;
    padding: 7px 40px 7px 40px;
    border: 5px solo black;
    border-radius: 5px;
    color:rgb(26, 255, 26);
    background-color: rgb(19, 77, 134);
}